{% extends 'main.html' %}

{% load static %}

{% block content %}
<div data-bs-spy="scroll" class="scrollspy-example">
    <!-- Hero: Start -->
    <section id="hero-animation">
        <div id="homePage" class="section-py landing-hero position-relative">
            <div class="container">
                <div class="hero-text-box text-center">
                    <h1 class="text-primary hero-title display-6 fw-bold">Shorten URLs with Ease</h1>
                    <h2 class="hero-sub-title h6 mb-4 pb-1">
                        The easiest way to create shortened URLs for all your needs<br class="d-none d-lg-block" />
                        Fast, reliable, and customizable link management.
                    </h2>
                    <div class="landing-hero-btn d-inline-block position-relative">
                        <span class="hero-btn-item position-absolute d-none d-md-flex text-heading">
                            Get started <img src="{% static 'img/front-pages/icons/Join-community-arrow.png' %}" alt="Join community arrow" class="scaleX-n1-rtl" />
                        </span>
                        <a href="#urlShortener" class="btn btn-label-primary btn-lg">Get started now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero: End -->

    <!-- Contact Us: Start -->
    <section id="urlShortener" class="section-py landing-contact">
        <div class="container">
            <h3 class="text-center mb-1"><span class="section-title">Shorten a</span> long link</h3>
            <p class="text-center mb-4 mb-lg-5 pb-md-3">Shorten your URLs with ease and efficiency</p>
            <div class="row gy-4">
                <div class="col-lg-5">
                    <div class="contact-img-box position-relative border p-2 h-100">
                        <img src="{% static 'img/front-pages/landing-page/_b4840405-fe7f-47d3-a30f-0b83c7afa7f6.png' %}" alt="Sketch URL Shorten" class="contact-img w-100 scaleX-n1-rtl" />
                        <div class="pt-3 px-4 pb-1"></div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="mb-1">Shorten a URL</h4>
                            <p class="mb-4">
                                Shorten your long URLs for easy sharing and tracking.
                                <!-- <br class="d-none d-lg-block" /> -->
                            </p>
                            {% if messages %}
                                {% for message in messages %}
                                    {% if message.tags == 'error' %}
                                        <div class="alert alert-danger alert-dismissible" role="alert">
                                            {{ message }}
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>
                                    {% elif message.tags == 'success' %}
                                        <div class="alert alert-success alert-dismissible" role="alert">
                                            {{ message|urlize }}
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            
                            <form method="post" action="{% url 'form_page' %}">
                                {% csrf_token %}
                                <div class="row g-3">
                                    <div class="col-12">
                                        <label class="form-label" for="long_url">Paste a long URL</label>
                                        <input type="text" id="long_url" name="long_url" class="form-control" placeholder="https://www.example.com/shorten-this-url" required />
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label" for="custom_domain">Custom Domain</label>
                                        <input type="text" id="custom_domain" name="custom_domain" class="form-control" placeholder="https://url.erbyl.repl.co" readonly />
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label" for="custom_path">Enter a custom path</label>
                                        <input type="text" id="custom_path" name="custom_path" class="form-control" placeholder="custom-path" required />
                                    </div>
                                    <div class="col-12">
                                        <button type="submit" class="btn btn-primary">Shorten URL</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Us: End -->
</div>
{% endblock content %}